/* Common */
* {
  box-sizing: inherit;
}

:root {
  --primary-color: #e92526;
  --secondary-color: #df6b00;
  --text-color: #000;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: 2.4fr 8fr;
}

.container {
  max-width: calc(100% - 140px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.section-heading {
  font-size: 6.5rem;
  font-weight: 800;
  line-height: 1.1;
  color: #000;
  cursor: default;
  user-select: none;
}

.section-desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3;
  cursor: default;
  user-select: none;
}

.btn {
  padding: 10px 50px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.67;
  background: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* main */
.main {
  padding: 24px 0;
}

@keyframes slideX {
  0% {
    opacity: 0;
    transform: translateX(-9999px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.main {
  animation: slideX 1.2s ease-out;
}

.navbar {
  z-index: 9999;
}

/* filter */
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* list */

.list {
  width: 200px;
  height: 100px;
  border-radius: 12px;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list__heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
}

.list-option {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  user-select: none;
  border-radius: 4px;
  background: #ccc;
  cursor: pointer;
}

.underline {
  height: 1px;
  width: 200px;
  background: #000;
  opacity: 0.2;
  margin: 2px 0;
}

/* search */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__ico {
  width: 24px;
  height: 24px;
  object-fit: cover;
  background: #ccc;
  padding: 18px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.search__ico:hover {
  opacity: 0.9;
}

.search__input {
  border: none;
  outline: none;
  width: 400px;
  height: 50px;
  font-size: 2.2rem;
  background: #dcdcdce1;
  padding: 5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* add */
.add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 250px;
  height: 72px;
  background: var(--secondary-color);
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.add:hover {
  background: var(--primary-color);
}

.add__icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 4px;
  cursor: pointer;
}

.add__desc {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
}

/* control */
.control-list {
  margin-top: 50px;
  padding: 50px 0 26px;
  background: var(--secondary-color);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  padding: 12px 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 24px 24px;
}

.control__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control__name {
  margin-left: 24px;
  font-size: 3rem;
  font-weight: 600;
}

.control__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-right: 24px;
}

.control__img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
}

.control__setting {
  transition: 0.4s;
}

.control__setting:hover {
  transform: rotate(45deg);
}

.control__lock {
  transition: 0.3s;
}

.control__lock:hover {
  filter: invert(15%) sepia(83%) saturate(5934%) hue-rotate(359deg)
    brightness(112%) contrast(122%);
}

.control__unlock {
  transition: 0.3s;
}

.control__unlock:hover {
  filter: invert(21%) sepia(73%) saturate(4965%) hue-rotate(111deg)
    brightness(94%) contrast(101%);
}

.control__desc {
  margin-left: 24px;
  margin-top: 10px;
  /* display: none; */
}

/* button */
.button__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
}

.button__icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}

.button__bg {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

.button__bg:hover {
  background-color: var(--primary-color);
}

.bg__backward {
  transform: rotate(180deg);
  margin-right: 24px;
}

.bg__super-backward {
  transform: rotate(180deg);
}

/* button */
.button {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@keyframes jumpUp {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.button__img {
  width: 46px;
  height: 46px;
  color: var(--primary-color);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
  animation: jumpUp 1.5s linear infinite;
}

.button__img:hover {
  transform: scale(1.1);
  animation: none;
}

/* javascript */

/* setting */
.overlay {
  position: fixed;
  background: #000;
  opacity: 0.3;
  z-index: 9998;
  top: 0;
  bottom: 0;
  left: 22%;
  right: 0;
  display: none;
}

.setting {
  position: fixed;
  background: #000;
  z-index: 9998;
  top: 10%;
  bottom: 0;
  left: 38%;
  right: 0;
  width: 700px;
  height: 600px;
  background: #fff;
  border-radius: 24px;
  display: none;
}

.setting__exit {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 32px;
  height: 32px;
  color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.setting__exit:hover {
  color: var(--primary-color);
}

.setting__heading {
  font-size: 3.8rem;
  font-weight: 600;
  margin-top: 65px;
  margin-bottom: 40px;
  text-align: center;
}

.setting__block {
  width: 500px;
  margin: 24px 13%;
}

.setting__desc {
  font-size: 2.2rem;
  display: block;
}

.setting__input {
  width: 90%;
  height: 50px;
  font-size: 2.2rem;
  padding: 2px 24px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #f2f2f2;
}

.setting__submit {
  margin-left: 33%;
  margin-top: 10px;
}

.setting__submit:hover {
  transform: scale(1.02);
}

/* wrongValue */
.form__wrong {
  border: 1px solid red;
}

.input__wrong {
  display: block;
  padding-top: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  color: red;
  width: calc(600px - 110px);
}
