:root {
  --primary-color: #e92526;
  --secondary-color: #df6b00;
  --text-color: #000;
}

/* PC */
@media (min-width: 1200px) {
  .form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .form-input {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 100vw, 80%);
  }

  .form__input {
    margin-top: 0;
    align-self: center;
    width: 100%;
    padding: 22px 0;
  }

  .form__input,
  .form-input {
    position: relative;
  }

  .hidden__password,
  .show__password {
    position: absolute;
    right: 2%;
  }
}

/* Tablet & Mobile */
@media (max-width: 1199.98px) {
  .main {
    margin: 0 auto;
  }

  .form {
    margin: 50px auto;
  }

  .form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .form-input {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 100vw, 80%);
  }

  .form__input {
    margin-top: 0;
    align-self: center;
    width: 100%;
    padding: 22px 0;
  }

  .form__input,
  .form-input {
    position: relative;
  }

  .hidden__password,
  .show__password {
    position: absolute;
    right: 2%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199.98px) {
}

/* Mobile */
@media (max-width: 699.98px) {
}

@media (max-width: 499.98px) {
  /* common */
  .section-heading {
    font-size: 3.4rem;
  }

  .section-desc {
    font-size: 1.8rem;
  }

  .main {
    width: 100%;
  }

  .form {
    margin: 100px 0 50px;
    width: 100%;
  }

  .btn {
    font-size: 1.8rem;
    padding: 10px 30px;
  }

  .form__btn {
    align-self: center;
    padding: 10px 50px;
    white-space: nowrap;
  }
}
