:root {
  --primary-color: #e92526;
  --secondary-color: #df6b00;
  --text-color: #000;
}

.overlay {
  z-index: 9999;
}

/* PC */
@media (min-width: 1200px) {
  /* Ẩn chế độ thu menu */
  .menu,
  .overlay,
  .navbar__close {
    display: none;
  }
}

/* Tablet & Mobile */
@media (max-width: 1199.98px) {
  body {
    display: flex;
  }

  .menu {
    z-index: 9997;
    position: fixed;
    top: 24px;
    left: 24px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    color: var(--primary-color);
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
    display: none;
  }

  .overlay-active {
    display: block;
  }

  .navbar__close {
    width: 36px;
    height: 36px;
    object-fit: cover;
    color: #fff;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }

  .navbar {
    width: 350px;
    transform: translateX(-100%);
    transition: 0.8s;
  }

  .navbar-active {
    transform: translateX(0);
    overflow-y: auto;
  }

  .navbar__menu {
    height: 0;
    gap: 50px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199.98px) {
}

/* Mobile */
@media (max-width: 699.98px) {
}

@media (max-width: 499.98px) {
  .navbar,
  .navbar-active {
    max-width: 250px;
  }

  .navbar__logo {
    padding: 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo__img {
    width: 50%;
    height: auto;
  }

  .navbar__menu {
    height: 0;
    gap: 50px;
  }

  .menu-desc {
    font-size: 1.8rem;
  }

  .navbar__close {
    width: 32px;
    height: 32px;
  }
}
