

/* thanh tìm kiem */
.search-filter {
  box-sizing: border-box;
     padding-top: 10px;
     margin-left: 10%;
     width: 100%;
     height: 5%;
     background-color: #f5f5f5;
     display: flex;
     align-items: center;
     justify-content: center;
     border-bottom: 1px solid #ddd;
    }
    
    .search-filter .containered {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 10px;
    }
    
    .search-filter__input {
     width: 600px;
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 4px;
    }
    
    .search-filter__select {
     width: 200px;
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 4px;
    }
    
    .search-filter__button {
     padding: 10px 40px ;
     border: none; /* xoa di vien */
     outline: none;
     text-decoration :none;
     border-radius: 50px;/* bo tròn lại khung viền */
     cursor: pointer;/* khi chi vao con tro chuot se hien ngon tay */
     transition: opacity 0.2s ; /*chinh thoi gian chuyen tiep cho opacity thanh 0.2s*/
     background-color: #e92526;
     color:#fff;
     font-size: 14px;
     font-weight:200;
     min-width: 200px;
    
    }
    
    .search-filter__button:hover{
     background-color: #27ae60;
    }
    
    .search-icon{
     height: 13px;
    }
    

    
/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .search-filter__input {
        width: 100%; /* Full width on smaller screens */
    }
    .search-filter__select {
        width: 100%; /* Full width on smaller screens */
    }
}
  
  @media (min-width: 768px) {
    .search-filter {
      flex-direction: row;
    }
  }
  
  @media (max-width: 767px) {
    .search-filter__input,
    .search-filter__select,
    .search-filter__button {
      font-size: 0.8em;
    }
  }


  /* them / xoa / sua  */


  .setting-products{
    padding-top: 10px;
    margin-left: 10%;
    width: 100%;
    height: 5%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;

  }

  .container-txs{

  }


  .btn-option{
    padding: 10px 40px ;
    border: none; /* xoa di vien */
    outline: none;
    text-decoration :none;
    border-radius: 50px;/* bo tròn lại khung viền */
    cursor: pointer;/* khi chi vao con tro chuot se hien ngon tay */
    transition: opacity 0.2s ; /*chinh thoi gian chuyen tiep cho opacity thanh 0.2s*/
    background-color: #e92526;
    color:#fff;
    font-size: 14px;
    font-weight:200;
    min-width: 200px;
   
   }
   
   .btn-option:hover{
    background-color: #27ae60;
   }


   /* hien thi san pham */

   #product-list {
    /* margin-left: 20%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  
  .product-image {
    height: 180px;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-pro{
    cursor: pointer;
  }
  
  .product-info {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 14px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 8px;
  }
  