:root {
  --primary-color: #e92526;
  --secondary-color: #df6b00;
  --text-color: #000;
}

/* PC */
@media (min-width: 992px) {
}

/* Tablet & Mobile */
@media (max-width: 991.98px) {
  /* main */

  /* form */
  .info__form {
    flex-direction: column;
    gap: 50px;
  }

  .form__input {
    width: calc(100% - 100px);
  }

  .header__heading {
    text-align: center;
    margin-left: 0;
  }

  .header__desc {
    text-align: center;
    margin-left: 0;
  }

  .form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form__button {
    margin-left: 0;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media (max-width: 767.98px) {
}
